/* global settings */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* div, nav {
  border: 1px solid blue;
} */

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
}

header, #banner, #aboutus, #courses, #thesis, footer {
  width: 100%;
}

.container {
  display: flex;
  justify-content: flex-start;
  height: auto;
  align-items: center;
}

p {
  line-height: 1.4;
}

a {
  color: #F5F8FC;
  text-decoration: none;
  text-shadow: 2px 2px 10px #E8850C;
}

a:hover {
  font-weight: bold;
}

h1, h2 {
  font-family: "Open Sans", serif;
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
  color: #036;
  text-shadow: 2px 2px 10px #E8850C;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .container {
    display: block;
  }
}

/* header section */
.container.headline {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  background-color: #036;
}

.headleft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
}

.headleft img {
  height: 2rem;
  width: auto;
  background-color: #F5F8FC;
}

.colmartext {
  font-size: 1.5rem;
  font-weight: bold;
  color: #E8850C;
  margin-left: 0.5rem;
}

.academytext {
  font-size: 1.5rem;
  color: #FFF10D;
}

.headright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
}

.headright a {
  padding-left: 1rem;
}

@media only screen and (max-width: 480px) {
  header .desktop {
    display: none;
  }

  .container.headline {
    display: block;
    height: 4rem;
    background-color: #036;
  }

  header .mobile {
    display: flex;
    justify-content: space-around;
    height: 4rem;
    align-items: center;
  }

  header .mobile img {
    height: 2rem;
    width: auto;
    background-color: #F5F8FC;
  }
}

/* banner section */
#banner {
  background-color: #a1c5e5;
}

.banimage {
  width: 60%;
  height: auto;
  overflow: hidden;
  margin: 2rem 1.5rem;
}

.banright {
  width: 30%;
}

.banright h4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.banright a.startbutton {
  display: block;
  background-color: #036;
  padding: 0.5rem 4rem;
  font-size: 1.5rem;
  color: #E8850C;
  text-shadow: 1px 1px black, 2px 2px 10px #FFF10D;
  text-align: center;
  border-radius: 8px;
}

@media only screen and (max-width: 480px) {
  #banner .container {
    padding-bottom: 2rem;
  }

  .banimage {
    width: 100%;
    margin: 0;
  }

  .banright {
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .banright h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .banright h4 {
    padding: 0;
    margin-bottom: 1.5rem;
  }
}

/* about us section */
#aboutus {
  background-color: #F5F8FC;
}

#aboutus .container {
  align-items: flex-start;
}

#aboutus .contleft {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

#aboutus .contleft h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.lastline {
  padding-top: 2rem;
}

#aboutus .contright {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin: 2rem 1.5rem;
}

#aboutus .contright .contcont:last-child {
  background-color: #A1C5E5;
}

#aboutus .contcont {
  display: flex;
  align-items: center;
}

#aboutus .contrightimg {
  width: 35%;
  height: auto;
  margin: 1rem;
}

#aboutus .contrighttext {
  width: 65%;
}

#aboutus .contright a {
  color: #036;
}

#aboutus .contcont p {

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 480px) {
  #aboutus .desktop {
    display: none;
  }

  #aboutus .mobile {
    display: block;
    height: auto;
    margin-bottom: 2rem;
  }

  #aboutus .contmobile {
    display: block;
  }

  #aboutus .contmobileimg {
    width: auto;
    height: auto;
    padding: 1rem;
  }

  #aboutus .contmobiletext {
    margin: 1rem 2rem;
  }

  #aboutus .contmobile a {
    color: #036;
  }

  #aboutus .contmobile p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/* courses section */
#courses {
  background-color: #a1c5e5;
  padding-bottom: 2rem;
}

#courses h2 {
  padding-top: 2rem;
  text-align: center;
}

#courses .container {
  display: flex;
  margin: 2rem 4rem;
  align-items: stretch;
}

#courses .coursebox {
  flex: 1;
  background-color: white;
  box-shadow: 1px 2px #036, 2px 4px #F5F8FC, 3px 6px #036, 4px 8px #F5F8FC, 5px 10px #036, 6px 12px #E8850C;
}

#courses .coursebox.center {
  margin-left: 2rem;
  margin-right: 2rem;
}

#courses .coursetext {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

#courses .coursetext h5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 480px) {
  #courses .desktop {
    display: none;
  }

  #courses .mobile {
    display: block;
  }

  #courses .mobile h3 {
    background-color: #F5F8FC;
    padding: 1rem;
    width: auto;
    color: #036;
    border-radius: 8px;
    margin: 0.5rem;
  }

  #courses h2 {
    padding-bottom: 1.5rem;
  }
}

/* thesis section */
#thesis {
  background-color: #F5F8FC;
}

#thesis .container {
  display: flex;
  align-items: flex-start;
}

#thesis h2 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

#thesis .contleft {
  width: 60%;
  height: auto;
  padding: 1.5rem;
}

#thesis .contleft h4 {
  margin-top: 1.5rem;
}

#thesis .contleft p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#thesis .contright {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}

#thesis .contright div:first-child {
  background-color: #A1C5E5;
  margin-top: 1.5rem;
}

#thesis .contcont {
  display: flex;
  align-items: center;
  align-content: stretch;
}

#thesis .contrightimg {
  width: 35%;
  height: auto;
  margin: 1rem;
}

#thesis .contrighttext {
  width: 65%;
  height: auto;
}

#thesis .contcont p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 480px) {
  #thesis .desktop {
    display: none;
  }

  #thesis .container {
    display: block;
    width: 100%;
  }

  #thesis .mobile {
    display: block;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  #thesis .mobile h2 {
    padding-bottom: 1rem;
    text-align: center;
  }
}

/* footer section */
footer .container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: flex-start;;
  background-color: #036;
}

.footleft {
  color: #F5F8FC;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.footright {
  padding-right: 1.5rem;
  padding-top: 1rem;
}

.footright a {
  padding-left: 1rem;
}

@media only screen and (max-width: 480px) {
  footer .container {
    display: block;
    height: auto;
  }

  .footleft {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .footright {
    display: none;
  }
}
